@CHARSET "UTF-8";

.main_top{
	width : 100%;
	height : 600px;
	position : relative;
	background-image: url("/image/fresh_food.jpg");
	background-repeat: no-repeat;
	background-position : center;
	max-width: 1300px;
}

.main_top_txt{
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	color: black;
}